@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: auto;
}
::selection {
    display: none;
}
.inactive {
    pointer-events: none;
}
.hidden {
    visibility: hidden;
}
.error {
    font-size: 4em;
    color: red;
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.fixedHeader {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 5%;
    height: 3em;
}
.header__title .header__buttonbar .header__message {
    width: 33%;
}
h1{
    font-size: 2em;
}
main{
    padding-top: 3em;
}
table, .fixedHeader{
    width: 90%;
    background-color: antiquewhite;
    border: 1px solid black;
}
tr{
    height: 2em;
}
th, td{
    min-width: 10%;
    border: 1px dotted black;
}

/* The Modal (background) */
.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Modal Content/Box */
.modal-content {
    background-color: #ddd;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 3px;
    box-shadow: 3px 3px 6px 0;
}
.modal__p {
    background-color: #ccc;
    width: 80%;
    height: 2.5em;
    padding: .5em;
}
.label{
    background-color: yellow;
    height: 2em;
    border: solid 2px yellow;
}
input{
    padding: 0;
    height: 2em;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal__header {
    font-size: larger;
    text-align: center;
    height: 3em;
    padding: 2em 0;
}
.modal__message {
    height: 3em;
    padding: 1em;
    text-align: center;
}
.modal-buttons {
    text-align: center;
}
.btn {
    height: 3em;
    width: 10em;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid;
    border-radius: 3px;

}
.cancel-btn {
    background-color: lightsalmon;
}
.delete-btn {
    background-color: cadetblue;
}
.save-btn {
    background-color: lightgreen;
}
.btn:hover, .btn:focus {
    border: 2px solid;
}