@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
  }
 * {
    box-sizing: border-box;
    margin: auto;
}
::selection {
    display: none;
}
.inactive {
    pointer-events: none;
}
.hidden {
    visibility: hidden;
}
.error {
    font-size: 4em;
    color: red;
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
h1{
    font-size: 2em;
    text-align: center;
}
table{
    width: 90%;
    background-color: antiquewhite;
    border: 1px solid black;
}
tr{
    height: 2em;
}
th, td{
    width: 15%;
    border: 1px dotted black;
}

/* The Modal (background) */
.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}
.modal__p {
    background-color: #ccc;
    width: 80%;
    height: 2em;
    padding: 3px;
}
.label{
    background-color: yellow;

    width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-text {
    font-size: larger;
    text-align: center;
    height: 10vh;
    padding: 40px 0;
}
.modal-buttons {
    text-align: center;
}
.btn {
    height: 3em;
    width: 10em;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid;
}
.cancel-btn {
    background-color: lightsalmon;
}
.delete-btn {
    background-color: cadetblue;
}
.save-btn {
    background-color: lightgreen;
}
.btn:hover, .btn:focus {
    border: 2px solid;
}